{% load trans2 %}
{% load static %}

<div class="language-switcher">
    <div class="language-text">{% trans2 lang 'lang-0' %}:</div>
    <img class="language-pl" src="{% static "website/img/flags/pl.png" %}" width="20" height="20" />
    <img class="language-en" src="{% static "website/img/flags/gb.png" %}" width="20" height="20" />
    <img class="language-de" src="{% static "website/img/flags/de.png" %}" width="20" height="20" />
    <img class="language-ru" src="{% static "website/img/flags/ru.png" %}" width="20" height="20" />
</div>
