{% load trans2 %}

<div class="container business">
  <div class="auction-details-more-info">
    <h3 style="margin-bottom:40px;margin-top:50px;">
        {% trans2 lang 'a-axa-0' %}
        <hr/>
    </h3>
    <table class="table table-bordered table-striped" style="max-width: 700px;margin:0 auto;">
      <col width="40%" />
      <col width="60%" />
      {% for key, value in car.data.items %}
          <tr>
              <td>{{ key }}</td>
              <td>{{ value }}</td>
          </tr>
      {% endfor %}
    </table>
    {{ car.data.Schadenbeschrieb|safe }}
  </div>
