{% load trans2 %}

<div class="long-container">
	<div class="account-header">
		<div class="container">
			<ul>
				<li>
					<a href="/konto/profil">{% trans2 lang 'aa-10' %}</a>
				</li>
				<li>
					<a href="/konto/licytacje">{% trans2 lang 'aa-11' %}</a>
				</li>
				<li>
					<a href="/konto/obserwowane">{% trans2 lang 'aa-12' %}</a>
				</li>
				<li>
					<a href="/konto/poszukiwane">{% trans2 lang 'aa-13' %}</a>
				</li>
				<li>
					<a href="/konto/wygrane">{% trans2 lang 'aa-14' %}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
