{% extends 'base.html' %}
{% load static %}
{% load trans2 %}

{% block content %}
<div class="container business login-container" style="min-height:400px">
    <h3 style="margin:40px 0 30px 0">
        {% trans2 lang 'aa-16' %}
        <hr/>
    </h3>

    <div class="col-md-12 col-sm-12">
      <form class="form-horizontal" method="post" style="max-width:350px;margin:0 auto;">
        {% if error %}
            <p class="bg-warning" style="padding-top:15px">{% trans2 lang 'aa-17' %}</p>
        {% endif %}
        {% if success %}
            <p class="bg-success" style="padding-top:15px">{% trans2 lang 'aa-18' %}</p>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="id_password" style="text-align:left" class="col-sm-12
            control-label">{% trans2 lang 'aa-19' %}</label>
            <div class="col-sm-12">
                <input type="password" name="password1" class="form-control" required
                                       id="id_password"
                                       placeholder="{% trans2 lang 'aa-19' %}">
            </div>
        </div>
        <div class="form-group">
            <label for="id_password" style="text-align:left" class="col-sm-12
            control-label">{% trans2 lang 'aa-20' %}</label>
            <div class="col-sm-12">
                <input type="password" name="password2" class="form-control" required
                                       id="id_password"
                                       placeholder="{% trans2 lang 'aa-19' %}">
            </div>
        </div>
        <div class="form-group" style="float:right">
            <div
                     class="col-sm-offset-2
                     col-sm-10">
                <button type="submit" class="btn btn-default red">
                        {% trans2 lang 'aa-21' %}
                </button>
            </div>
        </div>
      </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
	<script src="{% static "website/js/sticky_footer.js" %}"></script>
{% endblock %}
